.DS_Store
.idea
.phpunit.cache
.phpunit.result.cache
/bootstrap/
/docker
/env/docker/
/nbproject/
/nbproject/private/
/vendor
artisan
composer.lock
coverage.xml
openapi.json
vendor/
tags
.phpunit.result.cache
.idea/
src/oa_version.php
phpunit.xml
testbench.yaml
composer.lock
.env
